@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 15px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 18.5px;
  font-weight: 900;
}

img {
  object-fit: cover;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-header__icon {
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;
  gap: 15px;
  /*pour que la couleur noire s'affiche dans Chrome et Firefox*/
}
.localisation__text {
  border: none;
  font-weight: 800;
  background-color: transparent;
  color: rgba(77, 77, 77, 0.8);
  width: 10em;
}
.localisation ::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
.localisation ::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.localisation input:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.book {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
.book__text {
  color: rgba(77, 77, 77, 0.8);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.book h2 {
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .book h2 {
    max-width: 250px;
  }
}

.fonction {
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .fonction {
    padding: 60px 20px;
  }
}
.fonction__liste {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .fonction__liste {
    flex-direction: column;
    gap: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonction__liste {
    flex-direction: column;
    gap: 22px;
  }
}
.fonction h2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .fonction h2 {
    text-align: left;
  }
}

.fonction-carte {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 25px 38px;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.fonction-carte:hover {
  background-color: #f5edff;
}
.fonction-carte:hover .fonction-carte__icon {
  color: #9356DC;
}
.fonction-carte__numéro {
  position: absolute;
  left: -8px;
  border-radius: 200px;
  background-color: #9356DC;
  color: white;
  padding: 5px 9px;
}
.fonction-carte__icon {
  color: #7d7d7d;
  text-align: center;
  width: 20px;
  font-size: 20px;
}
.fonction-carte__text {
  margin-left: 25px;
  font-weight: 600;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  margin-bottom: 20px;
}
.restaurants__liste {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .restaurants__liste {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__liste {
    display: flex;
    flex-direction: column;
  }
}

.carte-restaurants {
  position: relative;
  width: 25%;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .carte-restaurants {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carte-restaurants {
    width: 100%;
  }
}
.carte-restaurants__image {
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.carte-restaurants__body {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.carte-restaurants__body h4 {
  margin-bottom: 5px;
}
.carte-restaurants__new {
  color: #008766;
  padding: 7px 12px;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 14px;
  font-weight: bold;
}
.carte-restaurants__localisation {
  font-size: 17px;
  font-weight: 398;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 40px 40px;
    flex-direction: column;
  }
}
.footer__title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__icon {
  text-align: center;
  font-size: 12px;
  width: 12px;
}
.footer__text {
  font-weight: 400;
}
.footer__nav {
  margin-left: 100px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__nav {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
  }
}
.footer__nav a {
  list-style: none;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .footer__nav a {
    padding: 5px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__nav a {
    padding: 5px 0px;
  }
}

.book__btn, .ordering-btn {
  border-radius: 200px;
  padding: 17px 28px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.book__btn:hover, .ordering-btn:hover {
  filter: brightness(1.1);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.ordering-btn {
  padding: 15px 45px;
}

.fa-heart {
  font-size: 26px;
  margin-right: 10px;
  cursor: pointer;
}
.fa-heart:hover {
  font-weight: bold; /*  1 rendre le coeur plein   */
  color: transparent; /* 2 le rendre transparent mais il reste plein */
  background: linear-gradient(275deg, #FF79DA, #9356DC); /* 4 Lui appliquer un background gradiant*/
  -webkit-background-clip: text; /* 3 pour chrome permet de gerer les limites de la zone placé apres le background*/
  transition-duration: 1s;
}

.loader {
  background-color: #f6f6f6;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 3s cubic-bezier(1, 0.08, 0.93, 1) forwards;
}
.loader__ring {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: -4px -4px 4px 4px #9356DC, 4px 4px 4px 4px #99E2D0, inset -4px -4px 4px 4px #7d7d7d, inset 4px 4px 4px 4px #FF79DA;
  border-color: #9356DC #99E2D0 #FF79DA #7d7d7d;
  animation: ring 1s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -1;
  }
}
.menu {
  position: relative;
  margin-top: -50px;
  padding: 40px 15px;
  border-radius: 35px 35px 0px 0px;
  background-color: #f6f6f6;
}
.menu__image {
  width: 100%;
  height: 280px;
}
.menu__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 1024px) {
  .menu__header {
    justify-content: center;
    column-gap: 33px;
  }
}
.menu__main-title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 500;
}
.menu__btn {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #f6f6f6;
}
.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .menu__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 35px;
  }
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-group h3 {
  margin: 22px 0px;
  position: relative;
}
.menu-group h3::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 1px;
  width: 43px;
  height: 3px;
  background-color: #99E2D0;
}

.menu-card {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  animation: card-in 1500ms both; /*  temps anination apparition entrer */
}
.menu-card:hover .menu-card__check {
  transform: scaleX(1);
  margin-right: 0px;
}
.menu-card:hover .fa-check {
  animation: check-in 0.3s ease-in-out;
}
.menu-card__body {
  padding: 13px;
  flex: 1;
  width: 235px;
}
.menu-card__body h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}
.menu-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-card__text {
  font-size: 15.5px;
  font-weight: 390;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__price {
  font-size: 15.5px;
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}
.menu-card__check {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  margin-right: -80px;
  transform: scaleX(0);
  transition: all 0.3s;
}
.menu-card--1 {
  animation-delay: 300ms;
}
.menu-card--2 {
  animation-delay: 600ms;
}
.menu-card--3 {
  animation-delay: 900ms;
}
.menu-card--4 {
  animation-delay: 1200ms;
}
.menu-card--5 {
  animation-delay: 1500ms;
}
.menu-card--6 {
  animation-delay: 1800ms;
}
.menu-card--7 {
  animation-delay: 2100ms;
}
.menu-card--8 {
  animation-delay: 2400ms;
}
.menu-card--9 {
  animation-delay: 2700ms;
}
.menu-card--10 {
  animation-delay: 3000ms;
}

.fa-check {
  font-size: 13px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  color: #99E2D0;
}

@keyframes card-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes check-in {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
