 //hero button
  .book__btn {
    border-radius: 200px; // bordure des button explorer page accueil et commande 
    padding: 17px 28px;
    background: $gradient;// qui crée un dégradé entre deux couleur 
    color: white;// coleur txt button
    filter: brightness(1);
    transition: all 0.25s;// pour controle la vitesse de$'animation
    box-shadow: $boxshadowColorHeader;
    &:hover {
      filter: brightness(1.1);// brightness est un multiplicateur linéaire sur une image afin de la rendre plus claire ou plus sombre .
      box-shadow: $boxshadowHeroButtonHover;
    }
  }
  
//ordering button
.ordering-btn {
  @extend .book__btn;
  padding:15px 45px;
}

//heart button
.fa-heart {
  font-size: $fontSizeHeart; // taille du coeur
  
  height:26px;
  margin-right:10px;
  cursor: pointer;
 
  
  

  &:hover { 
    background: linear-gradient(275deg,$colorSecondary,$colorPrimary);
    color: transparent;
    -webkit-background-clip :text; /* pour chrome */ 
    font-weight: bold;
    background-position-y: 1rem; // définit la position vertical initiale de chaque image 
    transition-duration: 1s;//apparition au ralenti couleur coeur 
   
  }
}