@mixin flexboxCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}
//responsive for mobile
@mixin mobil-only {
    @media screen and (max-width: map-get($breakpoints, mobil)){
     @content;
    }
}
//responsive for tablet
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, mobil)) and (max-width:map-get($breakpoints,desktop))
    {
     @content;
    }
}

//responsive for desktop
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)){
     @content;
    }
}

//ring on the loading page
@mixin ring ($height:120px, $width:120px) {
    width: 120px; // largeur du loader
    height: 120px;// hauteur du loader
    padding:10px;
    border-radius: 50% ; //les angle du loader
    border: 1px solid ;// épaisseur bordure 
    box-shadow: -4px -4px 4px 4px $colorPrimary,
                 4px 4px 4px 4px $colorTertiary,
              inset -4px -4px 4px 4px $colorOperationIcon,// inset la valeur est appliquée à l'ensemble des cotés
               inset  4px 4px 4px 4px $colorSecondary;
    
                
    border-color:$colorPrimary $colorTertiary $colorSecondary $colorOperationIcon ;// les couleur du loader code couleur 

}

//Green underline on the menu pages
@mixin greenUnderline ($color:$colorTertiary, $width:$greeenUnderlineWidth){
    &::after {
        content:"";
        position:absolute;//L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page
        top:24px;
        left:1px;
        width: $greeenUnderlineWidth;
        height: 3px;
        background-color: $colorTertiary;
        }
    }

