//header sur la page accueil
.home-header {
    @include flexboxCenter;
    position:relative;
    box-shadow:$boxshadowColorHeader;
}
//header sur les pages menus
.menu-header {
    @include flexboxCenter;
    position:relative;
    &__icon {
        font-size:$fontSizeArrowLeft; // fleche de retour accueil
        position:absolute;
        left:20px;
        top:20px;
    }
}
